<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="container-fluid">
    <div class="row lightshadeblack">
        <div class="row">
            <div class="col-lg-6" style="float:left;">
            <img src="../../assets/images/logo1.png">
            <h6><p>Accusam nonumy clita sed rebum kasd eirmod elitr. Ipsum ea lorem atet diam est, 
                tempor rebum ipsum sit ea tempor stet et consetetur dolores.
                Justo stet diam ipsum lorem vero clita diam</p></h6>
            
            </div>
            <div class="col-lg-6 col-sm-4 text-center p-3">
                <h4 class="text-light"><b>NEWSLETTER</b></h4>
                <div class="input-group">
                    <input type="text" class="form-control border-white" placeholder="Your Email">
                    <button class="btn btn-dark"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                </div>
    
        </div>
            <div class="row">
                <div class="col-lg-4 g-3">
                    <h4><b>Get in Touch</b></h4>
                    <ul>
                        <li><i class="fa-solid fa-location-dot icon"></i> 123 Street, New York, USA</li>
                        <li><i class="fa-regular fa-envelope-open icon"></i> mail@domain.com.com</li>
                        <li><i class="fa-solid fa-phone icon"></i> +012 345 67890</li>
                    </ul>
                    <div class="col socialmedia">
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-facebook-f"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-twitter"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-linkedin-in"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-instagram"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-youtube"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 g-3">
                    <h4><b>Our Courses</b></h4>

                    <ul>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Web Design </li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> App Design</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Marketing</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Resarch</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> SEO</li>
                    </ul>

                </div>
                <div class="col-lg-4 g-3">
                    <h4><b>Quick LINKS</b></h4>

                    <ul>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Privacy Policy </li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Terms and Conditions</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Regular Faqs</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Help and Support</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Contact</li>
                    </ul>

                </div>
            </div>
      
        
            
      
        </div>
    </div>

    <div class="row" style="background-color: black;">
        <div class="row bgcolorblack colorwhite paddingtopbottom10">
            <div class="col-lg-6" style="color: pink;">
                Copy Rights &copy; Your Site Name. All Rights Reserved.
            </div>
            <div class="col-lg-6 textalignright" style="color: white;">
                Designed by HTML Codex
            </div>
        </div>
    </div>
                </div>
            



            

 


